body {
	padding-top: 50px;    /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
	color: #959595;
	}
	
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: #dd845a;
	}
	
.feature {
	background: url('../images/Sunsetsf.gif');
	background-position: top right;
	background-size: cover;
	background-color: #dd845a;
	color: white;
	text-shadow: 1px 1px 8px black;
	}

.feature .btn {
	text-shadow: none;
	}
	
.promo, .footer-map {
	border-width: 1px;
	border-color: black;
	border-top-style: solid;
	border-bottom-style: solid;
	margin-top: 20px;
	margin-bottom: 20px;
	}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: 1px 1px 8px black;
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover {
    background-size: 110%; 
    border: 5px solid black;
    line-height: 170px;
}

.promo-item h3 {
    font-size: 60px;
    display: inline-block;
    vertical-align: middle;
}

.item-1 {
	background: url('../images/arts.jpg');
	}
	
.item-2 {
	background: url('../images/music.jpg');
	}
	
.item-3 {
	background: url('../images/theater.jpg');
	}

.item-4 {
	background: url('../images/dance.jpg');
	}
		
.item-1,
.item-2,
.item-3,
.item-4 {
	background-size: cover;
	background-position: 50% 50%;
	}

.featured-product > img,
.featured-product > a > img {
	height: 150px;
}

.featured-product h3 {
	color: #dd845a;
	font-size: 18px;
	}

.featured-product .price {
	color: #dd845a;
	font-size: 18px;
	}
	
.featured-product .price s {
	color: #999;
	font-size: 18px;
	}
	
.footer-map {
	height: 600px;
	width: 100%;
	background: url('../images/SF.gif');
	background-size: cover;
	border-color: #ccc;
	}
.footer-info {
    padding: 20px 0;
    background: #f7f7f7;
}

.footer-info,
.footer-info a:link,
.footer-info a:hover,
.footer-info a:focus,
.footer-info a:visited {
    color: #959595;
	}

.footer-info h3 {
	color: black;
	font-size: 18px;
	}
    
.footer-info-item {
    padding: 0px 20px;
    }
    
footer .small-print {
	background-color: #fff;
	padding: 30px 0;
	text-align: center;
}


/*
*************************** 
Users html codes
***************************
*/

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}





#art {
 background-image: url("http://i.imgur.com/82UvEKS.jpg?2");
 background-repeat: no-repeat;
 padding-right: 5px;
 background-position: center;
}
#dance {
 background-image: url("http://i.imgur.com/4NVtPYJ.jpg?2");
 background-repeat: no-repeat;
 background-position: center;
}
#music {
 background-image: url("http://i.imgur.com/bcUiKGM.jpg?2");
 background-repeat: no-repeat;
 padding-right: 5px;
 background-position: center;
}
#theater {
   background-image: url("http://i.imgur.com/OrM0utX.jpg?1");
 background-repeat: no-repeat;
 padding-right: 5px;
 background-position: center;
 }
#arttext {
 font-family: 'Droid Serif', serif;
 font-size: 30px;
 background-color: white;
 color: black;
 height: 40px;
 text-align: center;
 position: relative;
 margin-top: 400px;
}

#dancetext{
 font-family: 'Droid Serif', serif;
 font-size: 30px;
 background-color: white;
 color: black;
 height: 40px;
 text-align: center;
 position: relative;
 margin-top: 400px;
}

#musictext{
 font-family: 'Droid Serif', serif;
 font-size: 30px;
 background-color: white;
 color: black;
 height: 40px;
 text-align: center;
 position: relative;
 margin-top: 400px;
}

#theatertext {
 font-family: 'Droid Serif', serif;
 font-size: 30px;
 background-color: white;
 color: black;
 height: 40px;
 text-align: center;
 position: relative;
 margin-top: 400px;
}










/*
*************************** 
User my account type 
***************************
*/


/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}










/*
*************************** 
Override Bootstrap Classes 
***************************
*/

/* Links */
a {
  color: orange;
  text-decoration: none;
}
a:hover,
a:focus {
  color: darkorange;
  text-decoration: underline;
}

/* Navbar */
.navbar-default {
  background-color: #fff;
}
.navbar-default .navbar-brand {
  color: #dd845a;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: sienna;
  background-color: transparent;
}

/* Primary Buttons */
.btn-primary {
  color: #fff;
  background-color: orange;
  border-color: orange;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:hover {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: sandybrown;
  border-color: sandybrown;
}





